In [1]:
!pip install pyexasol

Requirement already satisfied: pyexasol in d:\projects\anaconda\lib\site-packages (0.27.0)
Requirement already satisfied: packaging in d:\projects\anaconda\lib\site-packages (from pyexasol) (23.2)
Requirement already satisfied: pyopenssl in d:\projects\anaconda\lib\site-packages (from pyexasol) (24.0.0)
Requirement already satisfied: rsa in d:\projects\anaconda\lib\site-packages (from pyexasol) (4.9)
Requirement already satisfied: websocket-client>=1.0.1 in d:\projects\anaconda\lib\site-packages (from pyexasol) (1.8.0)
Requirement already satisfied: cryptography<43,>=41.0.5 in d:\projects\anaconda\lib\site-packages (from pyopenssl->pyexasol) (42.0.5)
Requirement already satisfied: pyasn1>=0.1.3 in d:\projects\anaconda\lib\site-packages (from rsa->pyexasol) (0.4.8)
Requirement already satisfied: cffi>=1.12 in d:\projects\anaconda\lib\site-packages (from cryptography<43,>=41.0.5->pyopenssl->pyexasol) (1.16.0)
Requirement already satisfied: pycparser in d:\projects\anaconda\lib\site-packages (from cffi>=1.12->cryptography<43,>=41.0.5->pyopenssl->pyexasol) (2.21)

# DB connection

In [7]:
import pyexasol
import pandas as pd

# Connect to the Exasol database
connection = pyexasol.connect(dsn="192.168.56.101:8563", user="sys", password="exasol", schema="AOL_SCHEMA",protocol_version=1)

# Import tables to Data frames

In [41]:
import pprint
printer = pprint.PrettyPrinter(indent=4, width=540)
tables=['ERR_TAB', 'QUERYDIM', 'ANONIDDIM', 'URLDIM', 'URL_CATEGORY', 'TIMEDIM', 'DMOZ_CATEGORIES']

In [49]:

# Get facts table
query = "SELECT * FROM FACTS LIMIT 10"
Facts = connection.export_to_pandas(query)
printer.pprint((Facts))

   QUERYID   TIMEID  ANONID    URLID  IRANK  CLICK
0     3840  3160387  449513   368418    NaN      0
1     3841  6620007  248391   368418    NaN      0
2     3841  1830852  248391  1546124   11.0      1
3     3841  5064890  248391    72889   26.0      1
4     3841   329732  248391   368418    NaN      0
5     3842  2704365   88336   368418    NaN      0
6     3843  1634858  412152   135629    6.0      1
7     3843  1634858  412152   578567   10.0      1
8     3844  3853528  636558   368418    NaN      0
9     3844  2693093  636558   368418    NaN      0

In [77]:
# Query the QUERYDIM
query = "SELECT * FROM QUERYDIM LIMIT 10"
QUERYDIM = connection.export_to_pandas(query)
printer.pprint((QUERYDIM.QUERY))

0                donate cars cash
1    cartwheels panthers allstars
2                          baders
3                     toocool.com
4             wwwheartlandapp.com
5      aa broward county meetings
6                  www.alpeha.com
7    www.outriggeluanhotelwaikiki
8        herman's bakery business
9                   h3bo3 nah2bo3
Name: QUERY, dtype: object

In [14]:
# Query the ANONIDDIM
query = "SELECT * FROM ANONIDDIM LIMIT 5"
ANONIDDIM = connection.export_to_pandas(query)
printer.pprint((ANONIDDIM))

     ANONID  ID
0   9293684   1
1  15074531   2
2   6289426   3
3  15793180   4
4   5084791   5

In [16]:
# Query the URLDIM
query = "SELECT * FROM URLDIM LIMIT 10"
#query = "SELECT DISTINCT TOPLEVELDOMAIN FROM URLDIM"

URLDIM = connection.export_to_pandas(query)
#URLDIM.to_csv("url.csv")
printer.pprint((URLDIM))

                                  URL  ID            TITLE  \
0     http://www.darrellmansfield.net   1              NaN
1      http://slr.kalashnikov.guns.ru   2              NaN
2      http://www.brendahofreiter.com   3              NaN
3       http://www.secret-coupons.com   4              NaN
4                http://z9.mxram.info   5              NaN
5  http://www.larrywilliamsphotog.com   6              NaN
6        http://www.mypetskeleton.com   7  Marcone, Vicent
7         http://www.siemoffshore.com   8              NaN
8             http://www.petromax.com   9              NaN
9           http://www.allinaname.com  10              NaN

                                         DESCRIPTION PROTOCOL SUBDOMAIN  \
0                                                NaN     http       www
1                                                NaN     http       slr
2                                                NaN     http       www
3                                                NaN     http       www
4                                                NaN     http        z9
5                                                NaN     http       www
6  Mixed media and digital humorously spooky illu...     http       www
7                                                NaN     http       www
8                                                NaN     http       www
9                                                NaN     http       www

            THISDOMAIN TOPLEVELDOMAIN  THISPATH
0     darrellmansfield            net       NaN
1     kalashnikov.guns             ru       NaN
2      brendahofreiter            com       NaN
3       secret-coupons            com       NaN
4                mxram           info       NaN
5  larrywilliamsphotog            com       NaN
6        mypetskeleton            com       NaN
7         siemoffshore            com       NaN
8             petromax            com       NaN
9           allinaname            com       NaN

In [18]:
# Query the URL_CATEGORY
query = "SELECT * FROM URL_CATEGORY LIMIT 10"
URL_CATEGORY = connection.export_to_pandas(query)
printer.pprint((URL_CATEGORY))

    URLID  CATEGORYID
0  502469      982537
1  502469      982537
2  502469      982537
3  502469      982537
4  502469      982537
5  502469      982537
6  502469      982537
7  502469      982537
8  502469      982537
9  502469      982537

In [176]:
# Query the TIMEDIM
query = "SELECT * FROM TIMEDIM WHERE month == 'april   ' LIMIT 10"

TIMEDIM = connection.export_to_pandas(query)
printer.pprint((TIMEDIM))

ExaQueryError:
(
    message     =>  syntax error, unexpected '=', expecting '(' [line 2, column 35] (Session: 1815699415788877157)
    dsn         =>  192.168.56.101:8563
    user        =>  sys
    schema      =>  AOL_SCHEMA
    session_id  =>  1815699415788877157
    code        =>  42000
    query       =>  EXPORT (
SELECT * FROM TIMEDIM WHERE month == 'april   ' LIMIT 10
) INTO CSV
AT 'https://27.1.0.10:43793' FILE '000.csv'
WITH COLUMN NAMES
)

In [ ]:
TIMEDIM.to_csv('TIMEDIM_data.csv', index=False)

In [166]:
# Query the DMOZ_CATEGORIES
query = "SELECT * FROM DMOZ_CATEGORIES LIMIT 10"
DMOZ_CATEGORIES = connection.export_to_pandas(query)
printer.pprint((DMOZ_CATEGORIES))

    CATID                                              TOPIC  \
0  268312  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
1  265817  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
2  265816  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
3  265805  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
4  265846  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
5  265856  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
6  265882  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
7  265851  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
8  265858  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...
9  265869  Top/World/Türkçe/Bölgesel/Orta_Doğu/Türkiye/Bö...

                  TITLE                                        DESCRIPTION  \
0          Hobi_ve_Spor  Açık dizinin bu bölümünde Mersin ile ilgili ho...
1             Otlukbeli  Açık dizinin bu bölümünde Erzincan'ın Otlukbel...
2                Eğitim                                                NaN
3    Rehber_ve_Dizinler                                                NaN
4               Erzurum  Erzurum Vilayeti ile ilgili Türkçe web sayfaları.
5                Devlet  Açık dizinin bu bölümünde Erzurum ile ilgili d...
6   İlk_ve_Orta_Öğretim  İlk ve orta öğretim; ilköğretim birinci sınıft...
7  Harita_ve_Görüntüler  Açık dizinin bu bölümünde Erzurum ile ilgili h...
8               İlçeler  Açık dizinin bu bölümünde Erzurum'un ilçeleri ...
9                 Hınıs  Açık dizinin bu bölümünde Erzurum'un Hınıs ilç...

            LASTUPDATE LETTERBAR  FATHERID TOPIC_1 TOPIC_2 TOPIC_3  ...  \
0  2013-10-12 06:15:05         f    268292     Top   World  Türkçe  ...
1  2007-03-19 15:14:21         f    265811     Top   World  Türkçe  ...
2  2007-03-19 14:28:01         f    265815     Top   World  Türkçe  ...
3  2012-10-02 10:05:02         f    265801     Top   World  Türkçe  ...
4  2008-11-22 04:14:27         f    265784     Top   World  Türkçe  ...
5  2013-10-10 05:15:04         f    265846     Top   World  Türkçe  ...
6  2013-04-28 17:16:25         f    265881     Top   World  Türkçe  ...
7  2012-08-09 09:20:25         f    265846     Top   World  Türkçe  ...
8  2009-12-06 18:23:37         f    265846     Top   World  Türkçe  ...
9  2012-01-10 16:59:24         f    265858     Top   World  Türkçe  ...

   TOPIC_6   TOPIC_7       TOPIC_8   TOPIC_9              TOPIC_10  \
0  Türkiye  Bölgeler       Akdeniz    Mersin          Hobi_ve_Spor
1  Türkiye  Bölgeler  Doğu_Anadolu  Erzincan               İlçeler
2  Türkiye  Bölgeler  Doğu_Anadolu  Erzincan               İlçeler
3  Türkiye  Bölgeler  Doğu_Anadolu  Erzincan    Rehber_ve_Dizinler
4  Türkiye  Bölgeler  Doğu_Anadolu   Erzurum                   NaN
5  Türkiye  Bölgeler  Doğu_Anadolu   Erzurum                Devlet
6  Türkiye  Bölgeler  Doğu_Anadolu   Erzurum                Eğitim
7  Türkiye  Bölgeler  Doğu_Anadolu   Erzurum  Harita_ve_Görüntüler
8  Türkiye  Bölgeler  Doğu_Anadolu   Erzurum               İlçeler
9  Türkiye  Bölgeler  Doğu_Anadolu   Erzurum               İlçeler

              TOPIC_11 TOPIC_12 TOPIC_13 TOPIC_14  TOPIC_15
0                  NaN      NaN      NaN      NaN       NaN
1            Otlukbeli      NaN      NaN      NaN       NaN
2             Refahiye   Eğitim      NaN      NaN       NaN
3                  NaN      NaN      NaN      NaN       NaN
4                  NaN      NaN      NaN      NaN       NaN
5                  NaN      NaN      NaN      NaN       NaN
6  İlk_ve_Orta_Öğretim      NaN      NaN      NaN       NaN
7                  NaN      NaN      NaN      NaN       NaN
8                  NaN      NaN      NaN      NaN       NaN
9                Hınıs      NaN      NaN      NaN       NaN

[10 rows x 22 columns]

## Creating table and inserting data

In [25]:

# Define SQL query to create employmentdataDIM table
create_table_query = """
CREATE TABLE employmentdataDIM (
    "State/Area" VARCHAR(255),
    "Year" INT,
    "Month" VARCHAR(9),
    "Total Unemployment in State/Area" VARCHAR(255),
    "Total Employment in State/Area" VARCHAR(255),
    "Total Civilian Labor Force in State/Area" VARCHAR(255),
    "Total Civilian Non-Institutional Population in State/Area" VARCHAR(255),
    PRIMARY KEY ("State/Area", "Year", "Month"),
    FOREIGN KEY ("Year", "Month") REFERENCES TIMEDIM("year", "month")
);
"""

# Execute query to create the table
connection.execute(create_table_query)

ExaQueryError:
(
    message     =>  constraint violation - no primary key defined on referenced table (Session: 1815528069900118904)
    dsn         =>  192.168.56.101:8563
    user        =>  sys
    schema      =>  AOL_SCHEMA
    session_id  =>  1815528069900118904
    code        =>  270A3
    query       =>  CREATE TABLE employmentdataDIM (
    "State/Area" VARCHAR(255),
    "Year" INT,
    "Month" VARCHAR(9),
    "Total Unemployment in State/Area" VARCHAR(255),
    "Total Employment in State/Area" VARCHAR(255),
    "Total Civilian Labor Force in State/Area" VARCHAR(255),
    "Total Civilian Non-Institutional Population in State/Area" VARCHAR(255),
    PRIMARY KEY ("State/Area", "Year", "Month"),
    FOREIGN KEY ("Year", "Month") REFERENCES TIMEDIM("year", "month")
)
)

In [110]:
q1='''SELECT 
    T.month AS month,
    Q.QUERY AS keyword,
    COUNT(F.QUERYID) AS search_count
FROM 
    FACTS AS F
JOIN 
    QUERYDIM AS Q ON F.QUERYID = Q.ID
JOIN 
    TIMEDIM AS T ON F.TIMEID = T.ID
WHERE 
        Q.QUERY LIKE '%is%' 
        OR Q.QUERY LIKE '%DATA%' 
        OR Q.QUERY LIKE '%Twitter%'
GROUP BY 
    T.month, Q.QUERY
ORDER BY 
    T.month, search_count DESC;
'''

q1_1='''SELECT 
    T.month,
    Q.QUERY AS keyword,
    COUNT(F.QUERYID) AS search_count
FROM 
    FACTS AS F
JOIN 
    QUERYDIM AS Q ON F.QUERYID = Q.ID
JOIN 
    TIMEDIM AS T ON F.TIMEID = T.ID
WHERE 
    (Q.QUERY LIKE '%employment%' 
     OR Q.QUERY LIKE '%job%'  
     OR Q.QUERY LIKE '%Work%')
    AND T.month IS NOT NULL
    AND Q.QUERY IS NOT NULL
    AND F.QUERYID IS NOT NULL
    AND F.TIMEID IS NOT NULL
GROUP BY 
    CUBE(T.month, Q.QUERY)
ORDER BY 
    T.month, search_count DESC;
'''

In [112]:
# Query the ANONIDDIM
import pandas as pd
output = connection.export_to_pandas(q1_1)
printer.pprint((output))

ExaQueryError:
(
    message     =>  object T.MONTH not found [line 3, column 5] (Session: 1815699415788877157)
    dsn         =>  192.168.56.101:8563
    user        =>  sys
    schema      =>  AOL_SCHEMA
    session_id  =>  1815699415788877157
    code        =>  42000
    query       =>  EXPORT (
SELECT
    T.month,
    Q.QUERY AS keyword,
    COUNT(F.QUERYID) AS search_count
FROM
    FACTS AS F
JOIN
    QUERYDIM AS Q ON F.QUERYID = Q.ID
JOIN
    TIMEDIM AS T ON F.TIMEID = T.ID
WHERE
    (Q.QUERY LIKE '%employment%'
     OR Q.QUERY LIKE '%job%'
     OR Q.QUERY LIKE '%Work%')
    AND T.month IS NOT NULL
    AND Q.QUERY IS NOT NULL
    AND F.QUERYID IS NOT NULL
    AND F.TIMEID IS NOT NULL
GROUP BY
    CUBE(T.month, Q.QUERY)
ORDER BY
    T.month, search_count DESC
) INTO CSV
AT 'https://27.1.0.10:44440' FILE '000.csv'
WITH COLUMN NAMES
)